@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  /* Override default gray color */
  --color-gray-50: oklch(96.7% 0.003 264.542);
  --color-gray-100: oklch(92.8% 0.006 264.531);
  --color-gray-200: oklch(87.2% 0.01 258.338);
  --color-gray-300: oklch(70.7% 0.022 261.325);
  --color-gray-400: oklch(55.1% 0.027 264.364);
  --color-gray-500: oklch(44.6% 0.03 256.802);
  --color-gray-600: oklch(37.3% 0.034 259.733);
  --color-gray-700: oklch(27.8% 0.033 256.848);
  --color-gray-800: oklch(21% 0.034 264.665);
  --color-gray-900: oklch(13% 0.028 261.692);
  --color-gray-950: #052e16;

  /* Define new custom color */
  --color-brand-50: #fef2f2;
  --color-brand-100: #fee2e2;
  --color-brand-200: #fecaca;
  --color-brand-300: #fca5a5;
  --color-brand-400: #f87171;
  --color-brand-500: #ef4444;
  --color-brand-600: #dc2626;
  --color-brand-700: #b91c1c;
  --color-brand-800: #991b1b;
  --color-brand-900: #7f1d1d;
  --color-brand-950: #450a0a;
}


:root {
  font-family: Monaspace Neon Var;
}

