@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: 'Monaspace Neon Var';
  src: url('@/assets/fonts/Monaspace Neon Var.woff2') format('woff2-variations');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Monaspace Argon Var';
  src: url('@/assets/fonts/Monaspace Argon Var.woff2') format('woff2-variations');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Monaspace Xenon Var';
  src: url('@/assets/fonts/Monaspace Xenon Var.woff2') format('woff2-variations');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Monaspace Krypton Var';
  src: url('@/assets/fonts/Monaspace Krypton Var.woff2') format('woff2-variations');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Monaspace Radon Var';
  src: url('@/assets/fonts/Monaspace Radon Var.woff2') format('woff2-variations');
  font-weight: 100 900;
}

/* Font theme variables */
@theme {
  --font-sans: 'Monaspace Neon Var', 'Monaspace Argon Var', system-ui, sans-serif;
  --font-serif: 'Monaspace Xenon Var', Georgia, serif;
  --font-mono: 'Monaspace Radon Var', monospace;
}



@theme static {
  /* Override default gray color */
  --color-gray-50: oklch(96.7% 0.003 264.542);
  --color-gray-100: oklch(92.8% 0.006 264.531);
  --color-gray-200: oklch(87.2% 0.01 258.338);
  --color-gray-300: oklch(70.7% 0.022 261.325);
  --color-gray-400: oklch(55.1% 0.027 264.364);
  --color-gray-500: oklch(44.6% 0.03 256.802);
  --color-gray-600: oklch(37.3% 0.034 259.733);
  --color-gray-700: oklch(27.8% 0.033 256.848);
  --color-gray-800: oklch(21% 0.034 264.665);
  --color-gray-900: oklch(13% 0.028 261.692);
  --color-gray-950: #052e16;
}

* {
  border-radius: 0px;
}

:root {
  word-spacing: -1px;
  font-family: 'Monaspace Neon Var', 'Monaspace Argon Var', 'Monaspace Xenon Var', 'Monaspace Krypton Var', 'Monaspace Radon Var', monospace;

  pre {
    overflow-x: auto;
    margin-bottom: 3px;
  }

  pre code {
    white-space: pre;
    display: block;
  }

  pre::-webkit-scrollbar {
    height: 16px;
    background: transparent;
  }

  pre::-webkit-scrollbar-thumb {
    background: rgb(3 7 18);
    border-radius: 4px;
  }

  pre::-webkit-scrollbar-thumb:hover {
    background: rgb(23 22 42);
  }

  pre::-webkit-scrollbar-button {
    display: none;
  }

  pre {
    scrollbar-width: thin;
    scrollbar-color: rgb(3 7 18) transparent;
  }

  -webkit-scrollbar {
    height: 16px;
    background: transparent;
  }

  -webkit-scrollbar-thumb {
    background: oklch(21% 0.034 264.665);
    border-radius: 4px;
  }

  -webkit-scrollbar-thumb:hover {
    background: rgb(23 22 42);
  }

  -webkit-scrollbar-button {
    display: none;
  }

  scrollbar-width: thin;
  scrollbar-color: oklch(21% 0.034 264.665) transparent;
}